@font-face {
  font-family: "digital-clock-font";
  src: url(assets/1e670d88b23c7ab956f1829e3828a210.ttf) format("truetype");
}

body {
  position: fixed;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  user-select: none;
  background: white;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-image: url(assets/95ec7a1aaf99cbb80ec476923fe07daf.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-content: center;
}

.loadingBall {
  position: absolute;
  top: 30%;
  height: 100%;
  z-index: 5;
}

.gameEndContainer {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.4);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-image: url(assets/6c631a2528e8227b2cb122d6f218670f.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.leftPoint {
  position: absolute;
}

.rightPoint {
  position: absolute;
}

.rim {
  position: absolute;
  overflow: hidden;
  z-index: 3;
}
.fire {
  position: absolute;
  overflow: hidden;
}

.plusTwo {
  position: absolute;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  left: 64vw;
  top: 34vh;
  color: rgb(250, 173, 6);
  animation: start 1s forwards;
}

@keyframes start {
  from {
    opacity: 0;
    top: 37vh;
  }

  to {
    opacity: 1;
    top: 34vh;
  }
}

.board {
  position: absolute;
  z-index: 2;
  background: url("https://res.cloudinary.com/princeofpersia/image/upload/v1579348123/board.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.name {
  position: absolute;
  top: 72vh;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
}

.finalScore {
  top: 71vh;
}

.restartButton {
  top: 55vh;
}

.start-but {
  top: 70vh;
  background: yellow;
}

.instructions {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.5vw;
  line-height: 7vw;
  letter-spacing: 0.5vw;
  font-family: "digital-clock-font";
  top: 45vh;
  color: white;
  text-align: center;
}

.actionButton {
  position: absolute;
  left: 25vw;
  width: 50vw;
  text-align: center;
  line-height: 8vh;
  height: 8vh;
  border: #fff 1px solid;
  font-family: "digital-clock-font";
  border-radius: 4px;
  background-image: url("https://res.cloudinary.com/princeofpersia/image/upload/v1579079521/yellowBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 4.5vh;
}

.slide {
  position: absolute;
  opacity: 0.6;
  width: 10vw;
  height: 24vh;
}

.score {
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
  height: 20px;
  width: 60px;
  color: white;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

.gameOver {
  position: absolute;
  bottom: 0;
  display: none;
  height: 70%;
  width: 100%;
  z-index: 4;
}

.timer {
  display: none;
  position: absolute;
  top: 5px;
  left: 10px;
  height: 20px;
  width: 60px;
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 18px;
}

.timerVal {
  position: absolute;
  top: 30px;
  left: 10px;
  height: 28px;
  line-height: 27px;
  width: 100px;
  font-family: "digital-clock-font";
  border: #fff 1px solid;
  border-radius: 4px;
  background-image: url("https://res.cloudinary.com/princeofpersia/image/upload/v1579079521/yellowBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  font-size: 24px;
}

.scoreVal {
  position: absolute;
  top: 30px;
  right: 10px;
  text-align: center;
  height: 28px;
  line-height: 27px;
  width: 130px;
  border: #fff 1px solid;
  font-family: "digital-clock-font";
  border-radius: 4px;
  background-image: url("https://res.cloudinary.com/princeofpersia/image/upload/v1579079521/yellowBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  text-align: center;
  font-size: 24px;
}

#ball {
  position: absolute;
  z-index: 4;
  transform: scale(1.3);
  /* box-shadow: 0px 15px 10px -10px #111; */
  background-image: url(assets/d87999a3a30d8fc1365350f08a1bce2e.png);
  background-size: cover;
}

.in-between {
  z-index: 3 !important;
}

.fade-out {
  opacity: 0;
  animation: fade-out 100ms linear;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(180deg);
  }
}
